{% extends 'base.html.twig' %}

{% block title %}La boutique française{% endblock %}

{% block content %}
  <h1>Mon compte</h1>
  Bienvenue
  {{ app.user.firstname }}

  <ul>
    {% if is_granted('ROLE_ADMIN') %}
      <li>
        <a href="/admin">Accéder au backoffice</a>
      </li>
    {% endif %}
    <li>
      <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    </li>
    <li>
      <a href="{{ path('account_address') }}">Mes adresses</a>
    </li>
    <li>
      <a href="{{path('account_order')}}">Mes commandes</a>
    </li>
  </ul>
{% endblock %}
